<div class="headline">
	{{ companyName }}
	<hr/>
</div>
<img src="img/Media Loading.gif" ng-show="loadingPartners()" class="contentLoadingIndicator"/>
<div id="companyInfo" ng-hide="loadingPartners()">
	<div id="basicInfo">
		<div class="companyLogoContainer">
			<a href="{{ companyInfo().website }}" target="_blank"><img ng-src="img/companyLogos/{{ companyInfo().logo }}"/></a><br/>
		</div>
		<center>
			<div ng-hide="companyInfo().placeInExpo === null">Monterplats: <b>{{ companyInfo().placeInExpo}}</b> <br/></div>
			Typ av partner: <b>{{ companyInfo().type }}</b> <br/>
			<b><a target="_blank" href="{{ companyInfo().website }}">{{ companyInfo().website }}</a></b><br/>
		</center>
		<!-- <a target="_blank" href="{{companyInfo().website}}"><div class="contactButton" id="companyWebsite">Hemsida</div></a> -->

		<div ng-show="hasJobs()" id="services">
			<h1>Lediga tjänster</h1>

			<div ng-repeat="job in companyJobs()" class="contactButton" ng-click="goToJob(job.id)">
				{{ job.jobTitle }}
			</div>
			<!-- <div class="contactButton"> Här kommer det finnas mer info om eventuella tjänster</div> -->
		</div>

	</div>
	<div id="companyDescription">
		{{ companyInfo().description }}
	</div>
</div>