<div class="headline">
	Kontakt
	<hr/>
</div>
<div id="aboutText">
	<div class="center">
		<img ng-src="img/Media Loading.gif" class="contentLoadingIndicator" ng-show="loadingMembers()"/>
		<div ng-repeat="member in branschdagsgruppen()" class="contactProfile">
			<img ng-src="img/branschdagsgruppen/{{ member.image }}"/> 
			<div class="bold">{{ member.name }}</div>
			<div class="bdYellow">{{ member.role }}</div>
			<a href="mailto:{{ member.email }}" class="contactPageLink"><div class="normal">{{ member.email }}</div></a>
			<a href="tel:{{ member.phone }}" class="contactPageLink"><div class="normal">{{ member.phone }}</div></a>
		</div>
	</div>
	<div class="thankYou">
		Stort tack till <a href="mailto:a.linnea.holm@gmail.com">Linnea Holm</a> som tagit bilderna!
	</div>
</div>