<div class="headline">
	Kontakt
	<hr/>
</div>
<div id="aboutText">
	<img ng-src="img/Media Loading.gif" class="contentLoadingIndicator" ng-show="loadingMembers()"/>
	<div ng-repeat="member in branschdagsgruppen()" class="contactProfile">
		<img ng-src="img/branschdagsgruppen/{{ member.image }}"/> 
		<div style="font-weight:bold;">{{ member.name }}</div>
		<div style="color:#ddd310;">{{ member.role }}</div>
		<a href="mailto:{{ member.email }}"><div style="font-weight:normal;">{{ member.email }}</div></a>
		<a href="callto:{{ member.phone }}"><div style="font-weight:normal;">{{ member.phone }}</div></a>
	</div>
</div>