<a ng-href="#/">
	<div id="bdLogoContainer">
		<img src="img/Branschdagen_logo_new_3.png" id="bdLogo"/>
	</div>
</a>
<img src="img/menu_icon.png" id="menuIcon" ng-click="toggleMenu()"/>

<div id="menu" class="menuClosed">
	<a ng-class="{active: $route.current.activeTab == 'home'}" href="#/">Hem</a>
	<a ng-class="{active: $route.current.activeTab == 'schedule'}" href="#/schema">Schema</a>
	<a ng-class="{active: $route.current.activeTab == 'map'}" href="#/monterplatser">Karta</a>
	<a ng-class="{active: $route.current.activeTab == 'interviews'}" href="#/intervjuer">Intervjuer</a>
	<a ng-class="{active: $route.current.activeTab == 'prices'}" href="#/prislista">Prislista</a>
	<a ng-class="{active: $route.current.activeTab == 'contact'}" href="#/kontakt">Kontakt</a>
	<div class="socialMediaMenu">
		<h3> Branschdagen i sociala medier </h3>
		<hr/>
		<a href="https://twitter.com/branschdag" target="_blank" class="socialMediaMenuItem"><img src="img/Instagram.svg"/></a>
		<a href="https://instagram.com/branschdag/" target="_blank" class="socialMediaMenuItem"><img src="img/Twitter.svg"/></a>
	</div>
</div>