<div class="headline">
	{{ activeJob().jobTitle }}
	<hr/>
</div>
<div id="jobDescription" ng-hide="loadingJobs()">
	<a ng-href="#/foretag/{{activeJob().companyName}}"><img class="jobInfoLogo" ng-src="img/companyLogos/{{activeJob().companyLogo}}"/></a>{{ activeJob().jobDescription }}

	Intresserad? Skicka din ansökan senast <b>{{ activeJob().lastDayToApply | date: 'dd MMMM yyyy' }}</b> till <a href="mailto:{{activeJob().applyTo}}">{{ activeJob().applyTo }}</a></b>. Ansökan ska innehålla CV och en kort motivering.
</div>