<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="sv" ng-app="branschdag">
	<head>
		<title>Branschdagen 2015</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" minimal-ui>

		<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700|Raleway:200,400|Open+Sans:100,400,700|Lato:400,800' rel='stylesheet' type='text/css'>

		<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
		<link rel="manifest" href="img/favicon/manifest.json">

		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" type="text/css" href="style.css" />

	    <script src="bower_components/angular/angular.min.js"></script>
	    <script src="bower_components/angular-route/angular-route.min.js"></script>
	    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
	    <script src="bower_components/jquery/dist/jquery.min.js"></script>

	    <script src="js/app.js"></script>
	    <script src="js/modelService.js"></script>
	    
		<script src="js/appCtrl.js"></script>
	    <script src="js/filters.js"></script>
	    <script src="js/companyCtrl.js"></script>
	    <script src="js/contactCtrl.js"></script>
	    <script src="js/homeCtrl.js"></script>
	    <script src="js/packageCtrl.js"></script>
	    <script src="js/pricesCtrl.js"></script>
	    <script src="js/scheduleCtrl.js"></script>
	    <script src="js/jobsCtrl.js"></script>
	    <script src="js/singleJobCtrl.js"></script>
	    
		<script src="js/analytics.js"></script>

	</head>
	<body ng-controller="AppCtrl">
		<div id="wrapper">
			<div id="header">
				<a ng-href="#/">
					<div id="bdLogoContainer">
						<img src="img/branschdagen_logo.png" id="bdLogo"/>
					</div>
				</a>
				<img src="img/menu_icon.png" id="menuIcon" ng-click="toggleMenu()"/>

				<div id="menu" class="menuClosed">
					<a ng-class="{active: $route.current.activeTab == 'home'}" href="#/">Hem</a>
					<a ng-class="{active: $route.current.activeTab == 'schedule'}" href="#/schema">Schema</a>
					<a ng-class="{active: $route.current.activeTab == 'prices'}" href="#/prislista">Prislista</a>
					<a ng-class="{active: $route.current.activeTab == 'jobs'}" href="#/jobb">Jobb</a>
					<a ng-class="{active: $route.current.activeTab == 'contact'}" href="#/kontakt">Kontakt</a>
					<div class="socialMediaMenu">
						<h3> Branschdagen i sociala medier </h3>
						<hr/>
						<a href="https://twitter.com/branschdag" target="_blank" class="socialMediaMenuItem"><img src="img/Instagram.svg"/></a>
						<a href="https://instagram.com/branschdag/" target="_blank" class="socialMediaMenuItem"><img src="img/Twitter.svg"/></a>
					</div>
				</div>
			</div>

			<div id="content">
				<div id="contentAndFeed">
					<div class="container" id="container" ng-view></div><div id="feedContainer">
						<div class="headline">
							Nyheter
							<hr/>
						</div>
						<div class="arrowBox" ng-click="previousPost()">
							<div class="previousPost">
							</div>
						</div>
						<div id="feedContent">
							<img src="img/Media Loading.gif" ng-show="loadingSocialMedia()" class="loadingIcon"/>

							<div ng-repeat="post in socialMedia() | orderBy: 'created':true" id="post_{{$index}}" ng-class="{firstPost : $first, lastPost : $last}" >
								<div ng-if="post.type == 'tweet' ">
									<div class="sm-post" id="tweet">
										<div class="sm-header">
											<div class="sm-profilePicContainer">
												<img ng-src="{{post.profilePic}}" class="sm-profilePic"/>
											</div>
											<div class="sm-userInfoContainer">
												<a href="{{ post.profileURL }}"><div class="sm-username">
													{{ post.name }}
												</div></a>
												<div class="sm-via">
													via Twitter
												</div>
												<div class="sm-created">
													{{ post.created | date:"dd/MM/yyyy"}}
												</div>
											</div>
										</div>
										<div class="sm-text">
											{{ post.text }}
										</div>
									</div>
								</div>
								<div ng-if="post.type == 'instagram' ">
									<div class="sm-post" id="instagram">
										<div class="sm-header">
											<div class="sm-profilePicContainer">
												<img ng-src="{{post.profilePic}}" class="sm-profilePic"/>
											</div>
											<div class="sm-userInfoContainer">
												<a href="{{ post.profileURL }}"><div class="sm-username">
													{{ post.name }}
												</div></a>
												<div class="sm-via">
													via Instagram
												</div>
												<div class="sm-created">
													{{ post.created | date:"dd/MM/yyyy" }}
												</div>
											</div>
										</div>
										<div class="sm-pictureContainer">
											<img ng-src="{{ post.picture }}" class="sm-picture"/>
										</div>
										<div class="sm-text">
											{{ post.text }}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="arrowBox bottom" ng-click="nextPost()">
							<div class="nextPost">
							</div>
						</div>
					</div>
				</div>

				<div id="partners" ng-hide="loadingPartners()">
					<div class="headline">
						Samarbetspartners
						<hr/>
					</div>
					<div class="gold">
						<div class="partnerCategory">
							Guldpartners
						</div>
						<img class="partner" ng-repeat="partner in goldPartners()" ng-click="companyInfoScroll(partner.name)" ng-src="img/companyLogos/{{ partner.logo }}">
					</div>
					<div class="silver">
						<div class="partnerCategory">
							Silverpartners
						</div>
						<img class="partner" ng-repeat="partner in silverPartners()" ng-click="companyInfoScroll(partner.name)" ng-src="img/companyLogos/{{ partner.logo }}">
					</div>

					<div class="lectures">
						<div class="partnerCategory">
							Föreläsare
						</div>
						<img class="partner" ng-repeat="partner in lecturers()" ng-click="companyInfoScroll(partner.name)" ng-src="img/companyLogos/{{ partner.logo }}">
					</div>
				</div>
			</div>
		<div id="footer">
			<div class="footerText">Sektionen för Medieteknik, KTH<br/>
			<a href="http://www.medieteknik.com" target="_blank">www.medieteknik.com</a></div>
		</div>
	</body>
</html>