<div class="inputBox">

	<h2> Skriv in dina uppgifter</h2>

	<p>

		För och efternamn <br/>

		<input type="text" class="inputField" ng-model="name"/>

	</p>



	<p>

		

		Post <acronym title="Din roll inom branschdagsgruppen, ex PR och kommunikation eller sponsoransvarig eller något. Behöver inte fyllas i om det inte är applicerbart.">(?)</acronym>

		<br/>

		<input type="text" class="inputField" ng-model="post"/>

	</p>



	<p>

		E-post <br/>

		<input type="text" class="inputField" ng-model="email"/>

	</p>



	<p>

		Telefonnummer <br/>

		<input type="text" class="inputField" ng-model="phone"/>

	</p>

</div>



<div class="signatureBox">

	<h2>Din signatur</h2>

	<div class="signature">

		Hälsningar,

		<b><div id="name" ng-bind="name"></div></b>

		<div id="post" ng-bind="post"></div>

		<div id="branschdagsgruppen">Branschdagsgruppen 15/16</div>

		<div id="chapter">Sektionen f&ouml;r Medieteknik | KTH</div>

		<div id="email" ng-bind="email"></div>

		<div id="phone" ng-bind="phone"></div>

	</div>

</div>