<div class="headline">
	{{ companyName }}
	<hr/>
</div>
<img src="img/Media Loading.gif" ng-show="loadingPartners()" class="contentLoadingIndicator"/>
<div id="companyInfo" ng-hide="loadingPartners()">
	<div id="basicInfo">
		<div class="companyLogoContainer">
			<a href="{{ companyInfo().website }}" target="_blank"><img ng-src="img/companyLogos/{{ companyInfo().logo }}"/></a><br/>
		</div>
		<div ng-hide="companyInfo().placeInExpo === null">Monterplats: <b>{{ companyInfo().placeInExpo}}</b> <br/></div>
		Typ av partner: <b>{{ companyInfo().type }}</b> <br/>
		<!-- <a target="_blank" href="{{ companyInfo().website }}">Hemsida</a> <br/> -->
	</div>
	<div id="companyDescription">
		{{ companyInfo().description }}
	</div>
</div>