<div class="headline">
	Mässan
	<hr/>
</div>
<div id="aboutText">
	Mässan kommer att öppna vid 10:00 och fortgå fram till 16:00. Under denna tid kommer företagen att stå i Nymble och prata med studenter, mestadels från programmet för Medieteknik men det är självklart öppet även för andra sektioner att komma dit. Tanken med mässan är att företag och studenter ska kunna knyta kontakt. Som företag är det viktigt att marknadsföra sig för morgondagens arbetskår och som student är det viktigt att se vilka framtida möjligheter som finns, knyta kontakter och öva på att nätverka. <br/><br/>

	Vi hoppas att alla som lämnar mässan ska känna att de fått ut någonting av dagen, om det så är en ny kontakt, bättre insikt i branschen, framtidshopp eller en näve lösgodis!
</div>