<div class="headline">
	Om Branschdagen
	<hr/>
</div>
<!-- {{ message }} -->
<div id="aboutText">
	Branschdagen är medietekniks årliga arbetsmarknadsmässa som ger företag och studenter möjligheten att mötas och knyta kontakt. Fokus för mässan är att skapa ett forum för kontakt mellan studenter och framtida arbetsgivare som kan leda till sommarjobb, exjobb, anställningar och nya utmaningar. I år anordnas mässan torsdag den 5 november i kårhuset Nymble, Drottning Kristinas Väg 15.<br/><br/>

	Som utställande företag på branschdagen erbjuds ni en monterplats i mässlokalen där studenterna rör sig hela dagen. På mässgolvet ges möjlighet för studenter och företagsrepresentanter att utbyta idéer samt att skapa en personlig och professionell kontakt.<br/><br/>

	Utöver mässgolvet kommer det att hållas föreläsningar med olika teman under dagen. Föreläsningarna kommer att hållas av företagsrepresentanter och andra inspirerande talare. Som utställande företag får ni en egen företagsvärd som assisterar er under dagen och som ser till att ni har allt som behövs. Företagsrepresentanter kommer att bjudas på lunch och fika under hela dagen.<br/><br/>

	Efter avslutad mässa anordnas en sittning för företagsrepresentanter, medieteknikstudenter samt representanter från KTH. Sittningen är ett utmärkt tillfälle att fortsätta lära känna varandra och njuta av en trevlig kväll med god mat och underhållning.<br/><br/>

	Är ni intresserade av att vara ett av företagen på Branschdagen? Kontakta oss då via vårt kontaktformulär så öppnar vi upp en dialog och ser till att hitta ett passande samarbete med just ert företag. Vi hoppas verkligen att höra ifrån er!<br/><br/>

	Väl mött,<br/>
	<a ng-href="#/kontakt" ng-click="companyInfoScroll()">Branschdagsgruppen</a>, Sektionen för Medieteknik
</div>