<div class="headline">
	Prislista
	<hr/>
</div>
<div id="aboutText">
	<div class="center">
		<a ng-href="#/prislista/guldpaketet" class="offerLink"><div class="offer" id="goldOffer">
			<div class="priceHeader" id="gold">Guldpaketet</div>
			<div class="offerContent">
				<ul>
					<li>Monterplats 3x2m</li>
					<li>Mer synlig logotyp på hemsidan</li>
					<li>Egen helsida i broschyren</li>
					<li>Logotypen synlig i allt tryckt material.</li>
					<li>Mat och fika för två representanter</li>
					<li>AW för två representanter. </li>
				</ul>
				<div class="price">
					Pris: 15 000 kr
				</div>
			</div>
		</div></a>

		<a ng-href="#/prislista/silverpaketet" class="offerLink"><div class="offer" id="silverOffer">
			<div class="priceHeader" id="silver">Silverpaketet</div>
				<div class="offerContent">
				<ul>
					<li>Monterplats 2x2 meter</li>
					<li>Delad halvsida i broschyren</li>
					<li>Logotypen syns i vår tryckta broschyr</li>
					<li>Mat och fika för två representanter.</li>
				</ul>
				<div class="price">
					Pris: 10 000 kr
				</div>
			</div>
		</div></a>

		<div class="offerText">Om inget av ovanstående alternativ passar just er eller om ni har några frågor så är ni välkomna att höra av er till oss. Kontaktuppgifter hittar ni på <a ng-href="#/kontakt" ng-click="companyInfoScroll()">kontaktsidan</a>.</div>
	</div>
</div>