<div class="headline">
	Schema
	<hr/>
</div>
<div id="aboutText">
	<div ng-repeat="date in eventDates()" class="scheduleDate">
		<h1>{{ date | dateToString }}</h1>
		<div ng-repeat="event in schedule() | dateFilter:date" class="event">
			<div class="eventTimes">
				{{ event.start | date : 'HH:mm' }} <span ng-hide="event.end === null">- {{ event.end | date : 'HH:mm' }}</span>
			</div>
			<div class="eventText">
				<div class="eventName">
					{{ event.name }}
				</div>
				<div class="eventDescription">
					{{ event.description}}
				</div>
			</div>
		</div>
	</div>
	
</div>