<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="sv" ng-app="branschdag">
	<head>
		<title>Branschdagen 2015</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

		<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700|Raleway:200,400|Open+Sans:100,400,700|Lato:400' rel='stylesheet' type='text/css'>

		<!-- <link rel="icon" type="image/x-icon" href="img/favicon.ico"/> -->
		<!-- <link rel="icon" href="img/favicon.ico"/> -->
		<!-- <link rel="icon" sizes="192x192" href="img/Logo-small.png"> -->

		<link rel="stylesheet" type="text/css" href="style.css" />

	    <script src="../bower_components/angular/angular.min.js"></script>
	    <script src="../bower_components/angular-route/angular-route.min.js"></script>
	    <script src="../bower_components/angular-resource/angular-resource.min.js"></script>
	    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

	    <script src="js/app.js"></script>
	    <script src="js/modelService.js"></script>
	    
		<script src="js/appCtrl.js"></script>
	    <script src="js/partialsControllers.js"></script>

	</head>
	<body ng-controller="AppCtrl">
		<div id="wrapper">
			<div id="header">
				<a ng-href="#/"><img src="img/branschdagen_logo.png" id="bdLogo"/></a>
				<img src="img/menu_icon.png" id="menuIcon" ng-click="toggleMenu()"/>
			</div>
			<div id="menu" class="menuClosed">
				<a ng-class="{active: $route.current.activeTab == 'home'}" href="#/">Hem</a>
				<a ng-class="{active: $route.current.activeTab == 'expo'}" href="#/massan">Mässan</a>
				<a ng-class="{active: $route.current.activeTab == 'dinner'}" href="#/sittning">Sittningen</a>
				<a ng-class="{active: $route.current.activeTab == 'prices'}" href="#/prislista">Prislista</a>
				<a ng-class="{active: $route.current.activeTab == 'contact'}" href="#/kontakt">Kontakt</a>
			</div>
			<div id="content">
				<div class="container" ng-view></div>
				<div id="feedContainer">
					<div class="headline">
						#Branschdag15
						<hr/>
					</div>
					<div ng-show="loadingTweets()">
						<img src="http://www.wittyfeed.com/assets/image/loading.gif"/>
						 <br/>Laddar tweets... </div>
					<div ng-show="!loadingTweets()">
						<div ng-repeat="tweet in tweets() | limitTo:5">
							<div class="tweet">
								<div class="tweetHeader">
									<div class="tweetProfilePicContainer">
										<img ng-src="{{tweet.user.profile_image_url}}" class="tweetProfilePic"/>
									</div>
									<div class="tweetUsername">
										{{ tweet.user.name }}
									</div>
								</div>
								<div class="tweetText">
									{{ tweet.text }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<div class="footerText">Sektionen för Medieteknik, KTH<br/>
				<a href="http://www.medieteknik.com" target="_blank">www.medieteknik.com</a></div>
			</div>
		</div>
	</body>
</html>